Feb 19, 2021

Eric Bolton and I put on white hats and trained a system to respond to users on Twitter in the style of a debate, but unconstrained by facts.

We presented our work "Demonstrating Fully Automated Disinformation" to the 2021 C+J Symposium and outlined the three systems that need to be bypassed for bad actors to automate disinformation.

<a href="https://docs.google.com/presentation/d/1b5ZTp-nax6ckfZ8VWKw5-McUovpNEomVGpUcEhB59nY/edit?usp=sharing">C+J Presentation</a>

<a href="https://twitter.com/HumbleWrench">Twitter</a>