July 30, 2019

<div class="container">
    <div class="row justify-content-md-center">
        <div class="column">
            <div class="circle-container justify-content-center">
                    <svg id="circles" class="circle-container" padding-top="100%" width="100%" viewBox="0 0 300 300">
                    </svg>
            </div>
        </div>
    </div>
</div>

Inspired by <a href="https://www.youtube.com/watch?v=bRIL9kMJJSc">this video</a> about <a href="https://oeis.org/A250001">this paper</a>,
I set out to address the pressing question: How many unique ways are there to overlap 6 circles in the plane? Working with a grad student at the MIT Media Lab, we wrote some javascript code and realized that the problem is NP-hard. It was a suprisingly rich and very fun computational geometry exercise though. Our code is <a href="https://github.com/aberke/overlapping-circles">here</a>.