January 30, 2020

The morning I found out that researchers had released the Coronavirus genome, I whipped together this bot to tweet it out, base-pair by base-pair. The genome is *really* short (like 24,000 base-pairs!) so it should take about 17 days to tweet the whole thing out, and why not do just that?

<a href="https://twitter.com/coronavirus_bot">Twitter</a>

<a href="https://harvardtechnologyreview.com/2020/05/17/covid-19-art/">Harvard Technology Review</a>