Jan 1, 2020

Allison Parish's <a href="http://sync.abue.io/issues/190705ap_sync2_27_compasses.pdf">Compasses</a> is a collection of poems that explores how words occupy space. In <i>Compasses</i>, the insertion of a word onto the page imposes a phonetic topography; words blend and spill into eachother like rising hills on an empty plane. <i>Semantic Compasses</i> attempts to match the idea, but explores the latent space of words on a semantic level - mapping North/South and East/West poles to units of meaning, rather than sound. Rather than publishing a collection of poems, I chose to release a tool that allow users to compose their own.

<a href="/two_dimensions">Try it out</a>!