Jun 1, 2020

Sylvia is a research project that explores the idea of building aging into the design process of virtual beings. <a href="https://www.instagram.com/myfriendsylvia/">Sylvia’s Instagram account</a> was live from July to November 2020 as she aged rapidly. The project explores the co-writing paradigm in which an AI completes, or responds to, the writer-editor using the tool. Technically, it involved scraping hundreds of thousands of Instagram captions to fine-tune OpenAI's GPT-2 text generation model.

<a href="https://variety.com/2020/digital/news/ziv-schneider-idfa-doclab-sylvia-1234841619/">Variety</a>

<a href="http://digitaldozen.io/projects/sylvia/">Breakthroughs in Storytelling Awards - Special Jury Prize</a>

<a href="http://www.myfriendsylvia.com/ai-language/">My contribution</a>


