{% extends "base.html" %}


{% block head %}
<script>
    $( document ).ready(function() {
        $("div.top-menu-bar div:nth-child(1)").addClass('active_title');
    });
    $( document ).ready(function() {
        $("div.menu-bar div:nth-child(1)").addClass('active_title');
    });
</script>
{% endblock %}


{% block more_header %}

<div class="menu-bar row justify-content-md-center">
    <div class="menu-item col-auto">
        <a  id='shownotes' href="{{url_for('quotes')}}">
            Shownotes
        </a>
    </div>
    <div class="menu-item col-auto">
        <a  id='poetry' href="{{url_for('poetry')}}">
            Poetry
        </a>
    </div>
    <div class="menu-item col-auto">
        <a  id='blog' href="{{url_for('blog')}}">
            Blog
        </a>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container text-center">
    {{content | markdown}}
</div>

{% endblock %}