@media (min-height: 20000px) { 
    .flask-pagedown-input {
        height: 75vh;
    }
 }
@media (max-height: 20000px) { 
    .flask-pagedown-input {
        height: 100vh;
    }
 }

 .cms-form {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

 #submit {
     align-self:
 }

 .flask-pagedown {
    width: 50%;
 }

 .flask-pagedown-input {
    width: 90%;
 }

 .flask-pagedown-preview {
    width: 50%;
    max-width: 100%;
 }

 p > #text {
     max-width: 100%;
 }