:root {
  --highight: #f0f0f0;
  --fall-delay: 0.8s;
}

div {
	font-family: 'Montserrat', sans-serif;
}

.back {
  /* direction: rtl;
  unicode-bidi: bidi-override; */

  display: inline-block;
  -moz-transform:    scaleX(-1); /*Gecko */
  -o-transform:      scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform:         scaleX(-1); /*Standard */

  filter: FlipH;                 /* IE 6/7/8 */

  color:#a8a6a6;
}

br {
	display: block;
	content: "";
	margin-top: 10%;
}

.small-br {
    margin-top: 3%;
}

.menu-bar {
	font-size: 16px;
}

.menu-item {
	margin-bottom: 4%;
  /* font-size: 200%;
  font-family: 'Abhaya Libre', serif; */
}

.header {
	line-height: 50%;
	margin-bottom: 4%;
	z-index: 10;
}

a {
  font: rgb(100, 100, 100);
  text-decoration: inherit;
  /* color: inherit; */
  color: rgb(85, 85, 85);
  margin: 10px;
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

:not(.menu-item) > a:hover {
    color: rgb(85, 85, 85);
    background: linear-gradient(90deg, #ffffff 0%, #c9c9c9 100%);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: 0 90%;

}

p {
    margin: 0.75%;
}

page-content {
	line-height: 10%;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 10%;
    /* 
    font-family: 'Abhaya Libre', serif;
    font-size: 200%; */
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

.active_title {
    background-color: rgb(180, 180, 180);
}

.menu-item:hover {
    /* background-color: var(--highlight); */
    background-color: rgb(180, 180, 180);
}

canvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

img {
  width: 100%;
  height: auto;
}

::selection {
  background: #b4b4b4; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #b4b4b4; /* Gecko Browsers */
}

.panel {
  width: 100%;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake .17s;
  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { 
    transform: translate(5px,0px);
    color: transparent;
    text-shadow: 0px 0px 10px black;
  }
  33% { 
    transform: translate(-5px, 0px);
    color: transparent;
    text-shadow: 0px 0px 10px black;
  }
  66% { 
    transform: translate(7px, 0px);
    color: transparent;
    text-shadow: 0px 0px 10px black;
  }
  100% { 
    transform: translate(0px, 0px);
    color: inherit;
    /* text-shadow: none; */
  }
}
/* 
.container {
  margin-top: -1000px;
  -webkit-animation: var(--fall-delay) fall 0s 1 cubic-bezier(0.33333, 0, 0.66667, 0.33333) forwards;
          animation: var(--fall-delay) fall 0s 1 cubic-bezier(0.33333, 0, 0.66667, 0.33333) forwards;
} */

@-webkit-keyframes fall {
  to {
    margin-top: inherit;
  }
}

@keyframes fall {
  to {
    margin-top: inherit;
  }
}
