@import 'index';

h1 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 5%;
}

:not(.menu-item) > a {
    -webkit-animation: 1.5s highlight var(--fall-delay) 1 normal forwards;
            animation: 1.5s highlight var(--fall-delay) 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, rgb(200, 200, 200) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }