<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.8.0 -->
    <title>projects</title>
    <meta name="generator" content="Jekyll v4.3.2" />
    <meta property="og:title" content="{{ page.description }}" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ page.description }}"/>
    <meta property="og:description" content="{{ page.description }}" />
    <link rel="canonical" href="http://localhost:4000/" />
    <meta property="og:url" content="http://localhost:4000/" />
    <meta property="og:site_name" content="{{ page.description }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ page.description }}" />
    <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","description":"Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.","headline":"Your awesome title","name":"Your awesome title","url":"http://localhost:4000/"}</script>
    <!-- End Jekyll SEO tag -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"><link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="{{ page.description }}" /></head>
    
    <body><span class="back" id="filler1a"></span><span id="alex"><a href="{% link index.markdown %}">coming soon</a></span><span class="back" id="filler1b"></span><span class="back" id="filler5a"></span></body>
    <script src="{{ site.baseurl }}/assets/js/davinci.js"></script>
    <script> 
        retype_blog();
        addEventListener("resize", (event) => {retype_blog()});
    </script>

</html>
